@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,100;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.sc-bxivhb {
  display: flex;
  flex-direction: column;
  align-items: center;
}